<VirtualHost *:80>
  ServerName localhost
  DocumentRoot /vagrant/public

   # This should be omitted in the production environment
   SetEnv APPLICATION_ENV development

   <Directory "/vagrant">
       Options Indexes FollowSymLinks
       AllowOverride All
       Order allow,deny
       Allow from all
   </Directory>

    RewriteEngine   on
#    RewriteRule     ^/rest(.*)$ https://%{SERVER_NAME}/rest$1 [L,R]
#    RewriteLog      "/var/log/apache2/rewrite.log"
#    RewriteLogLevel 2

  ErrorLog /var/log/apache2/default-error.log                                                                                                        
  CustomLog /var/log/apache2/default-access.log combined      

</VirtualHost>

